:root{
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: rgb(71, 7, 234);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);
    
    --color-primary-light: rgba(71, 7, 234, 0.2);
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(255, 67, 54, 0.2);
    --color-purple-light: rgba(160, 99, 245, 0.2);
    
    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;
    
    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;
    }
     /* after end, when js change theme */
     .dark-theme {
        --color-white: #131316;
        --color-light: #23232a;
        --color-dark: #ddd;
        --color-gray-dark: #adacb5;
    }
    
    *{
        margin: 0;
        padding: 0;
        outline: 0;
        bottom: 0;
        appearance: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
        /* <!-- navbar --> */
        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: var(--color-white);
            z-index: 1000; /* Keep it above other elements */
            height: 4rem; /* Set a fixed height for the navbar */
        }
        nav .navcontainer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            width: 100%;
            height: max-content;
            padding-top: 7px;
            margin: 0 auto;
        }
        nav img.logo {
            width: 12rem;
        }
        nav .search-bar{
            background: var(--color-light);
            padding: var(--padding-2) var(--card-padding);
            width: 32vw;
            border-radius: var(--border-radius-2);
            display: flex;
            align-items: center;
            gap: 1rem;
            color: var(--color-gray-light);
            position: absolute;
            left: 15%;
        }
        nav .search-bar input[type="search"] {
            color: var(--color-dark);
            border: none;
            width: 100%;
        }
        nav .search-bar input[type="search"]::placeholder{
            color: var(--color-gray-dark);
        }
        nav .profile-area{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 4rem;
        }
        nav .profile-area .theme-btn{
            display: flex;
            background: var(--color-light);
            width: 5rem;
            height: 2rem;
            border-radius: var(--border-radius-2);
            cursor: pointer;
        }
        
        nav .profile-area .theme-btn span{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3rem;
        }
        nav .profile-area .theme-btn .active{
            background: var(--color-dark);
            border-radius: var(--border-radius-2);
            color: var(--color-white);
        }
        nav .profile-area .profile{
            display: flex;
            gap: 1rem;
            align-items: center;
        }
        nav .profile-area .profile-photo{
            display: block;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            overflow: hidden;
        }
        nav .profile-area .profile span{
            cursor: pointer;
        }
        nav .profile-area button{
            border: none;
            display: none;
        }
        
        /* <!-- aside --> */
        main {
            margin-left: 16rem; /* Offset for the sidebar */
            padding-top: 4rem; /* Offset for the navbar */
            display: grid;
            grid-template-columns: 1fr; /* Adjust based on layout */
            gap: 2rem;
        }
        main aside {
            position: fixed;
            top: 4rem; /* Adjust to start below the navbar */
            left: 0;
            width: 16rem; /* Sidebar width */
            height: calc(100vh - 4rem); /* Full height minus the navbar */
            background: var(--color-light);
            z-index: 900; /* Below navbar but above content */
        }
        main aside button#close-btn{
            border: none;
            /* will be show only on mobile and tablets */
            display: none;
        }
        main aside .sidebar a{
            position: fixed;
            display: flex;
            align-items: center;
            gap: 1.2rem;
            height: 4.2rem;
            color: var(--color-gray-light);
            position: relative;
        }
        main aside .sidebar a span{
            font-size: 1.7rem;
            margin-left: 3rem;
            transition: all 0.3s;
        }
        main aside .sidebar a.active{
            background: var(--color-white);
            color: var(--color-primary);
        }
        main aside .sidebar a.active::before{
            content: '';
            width: 6px;
            height: 100%;
            position: absolute;
            background: var(--color-primary);
        }
        main aside .sidebar a:hover{
            color: var(--color-primary);
        }
        main aside .sidebar a:hover span{
            margin-left: 2rem;
        }
        main aside .sidebar h4{
            font-weight: 500;
        }
        
        main aside .updates{
            background: var(--color-white);
            border-radius: var(--border-radius-1);
            text-align: center;
            padding: var(--card-padding);
            margin-left: 5px;
            margin-bottom: 5px;
        }
        main aside .updates span{
            font-style: 2.8rem;
        }
        main aside .updates h4{
            margin: 1rem 0;
        }
        main aside .updates a{
            display: block;
            width: 100%;
            background: var(--color-primary);
            color: var(--color-white);
            border-radius: var(--border-radius-1);
            padding: 0.8rem 0;
            margin-top: 2rem;
            transition: all 0.3s ease;
        
        }
        main aside .updates a:hover{
            box-shadow: 0 1rem 2rem var(--color-primary-light);
        }
        html{
            font-size: 12px;
        }
        body{
            background: var(--color-light);
            min-height: 100vh;
            color: var(--color-dark);
        }
        img{
            width: 100%;
        }
        h1{
            font-size: 2.2rem;
        }
        h2{
            font-size: 1.5rem;
        }
        h3{
            font-size: 1.2rem;
        }
        h4{
            font-size: 1rem;
        }
        h5{
            font-size: 0.86rem;
            font-weight: 500;
        }
        h6{
            font-size: 0.6rem;
        }
        p{
            font-size: 0.86rem;
            color: var(--color-gray-dark);
        }

        @media screen and (max-width: 1024px){
            nav .search-bar{
                display: none;
            }
            nav .profile-area{
                gap: 2rem;
            }
            nav .profile-area button#menu-btn {
                display: inline;
                background: transparent;
                color: var(--color-dark);
            }
            
            main{
                grid-template-columns: 1fr;
            }
            main aside {
                position: fixed;
                top: 0;
                /* left: 0; first to the left 0, and after JS we set -100% and below we write the animation !!! */
                left: -100%;
                z-index: 3;
                background: var(--color-white);
                width: 22rem;
                height: 100%;
                box-shadow: 2rem 0 2rem var(--color-primary-light);
                /* after main aside .updates/ */
                display: none;
                 /* after we write the animation !!! */
                 animation: showSidebar 0.5s ease forwards;
            }
        
            @keyframes showSidebar {
                to {
                    left: 0;
                }
            }
        
            main aside button#close-btn{
                display: inline-block;
                width: 3rem;
                height: 3rem;
                position: absolute;
                top: 1rem;
                right: 1rem;
                z-index: 4;
                background: transparent;
                color: var(--color-dark);
            }
            button:hover{
                cursor: pointer;
            }
            main aside .sidebar{
                margin-top: 4rem;
            }
            main aside .updates{
                display: none;
            }
          
        }

        @media screen and (max-width: 600px) {
            nav{
                width: 106%;
            }
            nav .profile-area {
                gap: 2.6rem;
            }
            nav .profile h5,
            nav .profile span {
                display: none;
            }
        
            
        }



























        .refheader {
            margin-top: 100px;
        }


        .refcontainer {
            max-width: 700px;
            margin: auto;
            background-color: #d3ddda;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }
        .refcontainer h1{
            font-size: 32px;
        }
        .reftitle {
            color: #0056d2;
            font-size: 20px;
            font-weight: bold;
        }
        .refdescription {
            font-size: 14px;
            margin: 10px 0;
        }
        .email-input {
            width: 70%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 5px;
        }
        .send-btn {
            padding: 10px 20px;
            background: #0056d2;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .reficons {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .reficon {
            margin: 0 10px;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
        }
        .reficon img {
            width: 40px;
            height: 40px;
        }

